data/
**/MNIST/
**/MNIST/**

*.ubyte
*.ubyte.gz

__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/

.ipynb_checkpoints/
logs/
runs/
checkpoints/
models/
*.pt
*.pth
*.ckpt

.DS_Store
Thumbs.db
.vscode/
.idea/

*.log